<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="AdonetContext" connectionString="Host=localhost;Port=5432;Database=adonet;Username=postgres;Password=test"
            providerName="using Microsoft.EntityFrameworkCore"/>
    </connectionStrings>
</configuration>